@import 'common.css';

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.post {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 1px;
}


#post_button {
    background-color: #1d699b;
    color: black;
    border-radius: 4px;
    font-size: 2vw;
    text-align: center;
    width: 10%;
    position: relative;
    right: 24%;
}

#post_input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 4px;
    position: relative;
    bottom: 10%;
    width: 15%;
    left: -64%;
}

#post_form {
    position: relative;
    top: 20vh;
    left: 80%;
}

#feed {
    margin: 0.5%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 22vh;
}

#feed > * {
    width: 70%;
}

.user {
    margin: 0;
}

.content {
    padding-left: 5%;
    margin-top: 0;
}


.date {
    text-align: right;
    margin-bottom: 0;
}


@media (min-width: 320px) and (max-width: 999px) {
    #post_button {
        right: 240px;
        width: 80px;
        height: 40px;
        font-size: 20px;
    }

    #post_input {
        left: -260px;
        height: 23px;
        width: auto;
    }
}