@import 'common.css';

body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.post {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 1px;
}


#post_button {
    background-color: #1d699b;
    color: black;
    border-radius: 4px;
    font-size: 2vw;
    text-align: center;
    width: 10%;
    position: relative;
    right: 45px;
    top: 10px;
}

#post_input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 4px;
    position: absolute;
    left: -63%;
}

#post_form {
    position: relative;
    top: 20vh;
    left: 80%;
}

#feed {
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 22vh;
    left: 3vh;
}

#feed > * {
    width: 70%;
}

.user {
    margin: 0;
}

.content {
    padding-left: 5%;
    margin-top: 0;
}


.date {
    text-align: right;
    margin-bottom: 0;
}


@media (max-width: 700px) {
    #post_button {
        width: 60px;
        font-size: 30px;
        right: 5px;
        top: -3px;
    }

    #feed {
        position: relative;
        left: 0;
    }

    #post_input {
        bottom: 0;
        left: -65%;
    }
}