@import 'common.css';

body {
    font-family: Arial, sans-serif;
}

.post {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}


.comment_div {
    text-align: center;
}



.comments{
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.comment_div{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 1px;
    width: 50.5%;
}
