@import 'common.css';

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #f0f0f0; /* Light grey background */
    font-family: Arial, sans-serif;
}

#outer_box {
    width: 500%;
    height: 400px;
    margin-top: 20px;
}

#inner_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10%;
    margin-left: 10%;
}

#title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    align-self: center;
}

button {
    background-color: rgb(184, 181, 181);
}

.user {
    margin: 0;
}

.content {
    padding-left: 5%;
    margin-top: 0;
}


.date {
    text-align: right;
    margin-bottom: 0;
}

.post {
    margin-right: 10%;
    margin-left: 10%;
}

@media (max-width: 700px) {
    #outer_box {
        width: 140%;
        position: relative;
        left: -51px;
        top: 100px;
    }

    #title {
        position: relative;
        top: 92px;
    }

    #header {
        right: 3px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    #outer_box {
        width: 220%;
        position: relative;
        left: -120px;
        top: 100px;
    }

    #title {
        position: relative;
        top: 92px;
        right: 58px;
    }

    #header {
        right: 3px;
    }
}

